// src/components/Foot/Foot.scss
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  
    p {
      margin: 0;
    }
  
   .footer-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
  
      li {
        margin-left: 15px;
  
        a {
          color: #ffffff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  